.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s
}
  
.trigger:hover {
    color: #f88b0e
}
  
.logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
    color: #fff;
    text-align: center;
    padding-top: 2%
}

@media screen and (max-width: 768px) {
    .loggedUser, .pageTitle {
        display: none !important
    }

    .ant-col-sm-24 .ant-row-flex{
        display: block !important;
        margin-top: 20px !important;
        margin-bottom: 20px
    }
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #f88b0e;
}

.ant-time-picker-panel-input-wrap{
    display: none
}

.actionButton {
    padding: 0 11px !important;
    margin-right: 5px
}

.actionButton i {
    font-size: 15px
}

.actionCol {
    padding-left: 21px !important
}

.colorGreen {
    color: #13a54b;
}

.buttonRed {
    color: #fff;
    background-color: #ea2c2c;
    border-color: #ea2c2c
}

.buttonRed:hover, .buttonRed:focus {
    color: #fff;
    background-color: #ec6969;
    border-color: #ec6969
}

.buttonGreen {
    color: #fff;
    background-color: #13a54b;
    border-color: #13a54b
}

.buttonGreen:hover, .buttonGreen:focus {
    color: #fff;
    background-color: #54b87a;
    border-color: #54b87a
}

.buttonOrange {
    color: #fff;
    background-color: #f88b0e;
    border-color: #f88b0e
}

.buttonOrange:hover, .buttonOrange:focus {
    color: #fff;
    background-color: #f3a449;
    border-color: #f3a449
}

.buttonPurple {
    color: #fff;
    background-color: #8a0df1;
    border-color: #8a0df1
}

.buttonPurple:hover, .buttonPurple:focus {
    color: #fff;
    background-color: #a548f1;
    border-color: #a548f1
}

.tableSelect .ant-table-thead .ant-checkbox {
    display: none
}

code {
    margin: 0 3px 0 3px;
    background: #f2f4f5;
    padding: .2em .4em;
    border-radius: 3px;
    font-size: .9em;
    border: 1px solid #eee
}

.correta {
    margin: 0 3px 0 3px;
    background: #54b87a;
    padding: .2em .4em;
    border-radius: 3px;
    font-size: .9em;
    border: 1px solid #54b87a;
}

/* Margins */
.mt10{
    margin-top: 10px
}
.mb10{
    margin-bottom: 10px
}

.tooltipError .ant-tooltip-inner{
    background-color: #f5222d !important
}
.tooltipError .ant-tooltip-arrow{
    border-color: #f5222d !important
}

.textEditorLabel{
    color: rgba(0, 0, 0, 0.85) !important;
    font-size: 14px !important;
    padding: 0 0 8px !important;
}

.textEditorRequired{
    display: inline-block !important;
    margin-right: 4px !important;
    font-family: SimSun !important;
    line-height: 1 !important;
    font-size: 14px !important;
    color: #f5222d !important;
}

.textEditorArea{
    border: 1px solid #d9d9d9 !important;
    border-radius: 4px !important;
}

.alternativa{
    margin-top: 10px;
    margin-bottom: 0px !important
}

.descricalHtml {
    display: block !important;
    text-align: center !important;
    font-variant: normal !important
}

.descricaoHtml p{
    width: 100%;
    float: left;
}

.descricaoHtml > img {
    text-align: center
}

.descricaoHtml2{
    font-weight: 700
}

.descricaoHtml2 p{
    margin-bottom: 0px !important;
}

.questaoSimuladoImpressao{
    margin-top: 10px !important;
    margin-bottom: 1px !important;
    border: 1px solid !important;
    border-color: #e8e8e8 !important;
    padding: 5px !important
}

.linhasDiscursiva{
    height: 20px !important;
    border: 1px solid !important;
    border-color: #e8e8e8 !important;
}

.bold{
    font-weight: 800
}